<!DOCTYPE HTML>
<html lang="en" xmlns:th="http://www.thymeleaf.org">

<head>
    <!-- Required meta tags -->
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">

    <!-- Bootstrap CSS -->
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.2.1/css/bootstrap.min.css" integrity="sha384-GJzZqFGwb1QTTN6wy59ffF1BuGJpLSa9DkKMp0DgiMDm4iYMj70gZWKYbI706tWS" 
    crossorigin="anonymous">
    
    <link th:href="@{/css/image.css}" rel="stylesheet" />
    
    <link rel="stylesheet" href="//code.jquery.com/ui/1.12.1/themes/base/jquery-ui.css">
    <script src="https://code.jquery.com/jquery-1.12.4.js"></script>
	<script src="https://code.jquery.com/ui/1.12.1/jquery-ui.js"></script>
	<script type="text/javascript" th:src="@{/js/bootstrap-filestyle.min.js}" ></script>
	
	<title>Add Violator</title>
</head>
<body>
	
	<div class="container">

		<h3 th:if="${update}">Edit Violator</h3>
		<h3 th:unless="${update}">Add Violator</h3>
		<hr>
	
		<p class="h4 mb-4" th:if="${update}">Edit Violator</p>
		<p class="h4 mb-4" th:unless="${update}">Add Violator</p>

	
		<form action="#" th:action="@{/submit-violator}" th:object="${violator}"
			method="POST" enctype="multipart/form-data">
			
			<div class="form-group row">
				<div class="col-md-6">
					<label for="firstName" class="label-input  control-label">First Name<span class="required">*</span></label>
					<input id="firstName" type="text" th:field="*{firstName}"
					class="form-control" placeholder="Juan">
				</div>
				<div class="col-md-6">
					<label for="lastName" class="label-input  control-label">Last Name<span class="required">*</span></label>
					<input type="text" id="lastName" th:field="*{lastName}"
							class="form-control" placeholder="Dela Cruz">
				</div>	
			</div>
				
 			<div class="row form-group"> 
 				<div class="col-md-6">
 					<label for="dateOfBirth" class="label-input control-label">Date of Birth<span class="required">*</span></label>
	 				<input type="date" id="dateOfBirth" th:field="*{dateOfBirth}"
					class="form-control" placeholder="Date of Birth"> 
 				</div>
 				<div class="col-md-6">
 					<label for="contact" class="label-input control-label">Contact Number<span class="required">*</span></label>
 					<input id="contact" type="text" th:field="*{contactNumber}" class="form-control" placeholder="Enter contact number"> 
 				</div>
 			</div>
				
			<div class="row form-group">
				<div class="col-md-6">
					<label for="height" class="label-input control-label">Height (cm)</label>
					<input id="height" type="number" th:field="*{height}" class="form-control" step="0.01" min="1" max="200" value="1" placeholder="Height in cm"> 
				</div>
				
				<div class="col-md-6">
					<label for="weight" class="label-input control-label">Weight (kg)</label>
					<input id="weight" type="number" th:field="*{height}" class="form-control" step="0.01" min="1" max="1000" value="1" placeholder="Weight in kg"> 
				</div>
			</div>
			
			<div class="form-group">
				<div class="">
					<label for="address" class="label-input  control-label">Address</label>
					<input id="address" type="text"  class="form-control" placeholder="Enter address">
				</div>
			</div>
			
			 <div class="form-group">
			 	<div class="row-4 mb-4">
					<!-- <input type="file" name="files" multiple >			 -->
					<label for="files" class="label-input  control-label">Photos/Videos <span class="required">*</span></label>
					<input id="files" type="file" name="files" class="filestyle" data-classButton="btn btn-primary" data-input="false" data-classIcon="icon-plus" data-buttonText="Add File" multiple>
				</div> 
			 </div>
			 
			<div th:if="${update}">
				<h5 >Photo/s</h5>
				<hr>
			</div>
			<div class="row" >
				<!-- <img th:src="@{/uploads/apple.jfif}" alt="no image" class="img-fluid" /> -->
				<div class="column" >
					<div th:id="${'div_medium' + medium.id}" class="img-wrap" th:each="medium : ${media}" >
						<span class="close">&times;</span>
      					<img data-th-attr="data-id=${medium.id}" th:src="@{/violator/image/{id}(id=${medium.id})}" width="200" height="200">
      				</div>
    			</div>
			</div>
			
			<div class="col-md-8 media-inputs mb-2">
			</div>
	
			<div class="col-md-12" style="text-align:center">
					<button type="submit" class="btn btn-success col-6" th:if="${update}">Save Changes</button>
					<button type="submit" class="btn btn-success col-6" th:unless="${update}">Submit</button>
			</div>
	
		</form>
	
		<hr>
	</div>
	
	<script type="text/javascript" th:src="@{/js/image.js}" ></script>

</body>
</html>