<!DOCTYPE HTML>
<html lang="en" xmlns:th="http://www.thymeleaf.org">

<head>
    <!-- Required meta tags -->
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">

    <!-- Bootstrap CSS -->
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.2.1/css/bootstrap.min.css" integrity="sha384-GJzZqFGwb1QTTN6wy59ffF1BuGJpLSa9DkKMp0DgiMDm4iYMj70gZWKYbI706tWS" 
    crossorigin="anonymous">
	<link href="https://use.fontawesome.com/releases/v5.0.4/css/all.css" rel="stylesheet">
    
    <link th:href="@{/css/image.css}" rel="stylesheet" />
    
    <link rel="stylesheet" href="//code.jquery.com/ui/1.12.1/themes/base/jquery-ui.css">
    <script src="https://code.jquery.com/jquery-1.12.4.js"></script>
	<script src="https://code.jquery.com/ui/1.12.1/jquery-ui.js"></script>
	<script type="text/javascript" th:src="@{/js/bootstrap-filestyle.min.js}" ></script>
	
	
	<title>Add Vessel</title>
</head>
<body>	
	<div class="container">

		<h3 th:if="${update}">Edit Vessel</h3>
		<h3 th:unless="${update}">Add Vessel</h3>
		<hr>
	
		<p class="h4 mb-4" th:if="${update}">Edit Vessel</p>
		<p class="h4 mb-4" th:unless="${update}">Add Vessel</p>
	
		<form action="#" th:action="@{/submit-vessel}" th:object="${vessel}"
			method="POST" enctype="multipart/form-data">
		
			<input type="hidden" name="vessel_id" th:field="*{id}" /> 
			
			<div class="form-group">
				<div class="">
					<label for="vesselName" class="label-input  control-label">Vessel Name<span class="required">*</span></label>
					<input id="vesselName" type="text" th:field="*{vesselName}" class="form-control col-8" placeholder="Enter vessel" required>
				</div>
			</div>
			
			<div class="form-group row">
				<div class="col-md-6">
					<label for="licenseId" class="label-input  control-label">License ID<span class="required">*</span></label>
					<input type="text" id="licenseId" th:field="*{licenseId}"
							class="form-control" placeholder="Enter License ID">
				</div>	
				<div class="col-md-6">
					<label for="licenseType" class="label-input  control-label">License Type<span class="required">*</span></label>
					<input id="licenseType" type="text" th:field="*{licenseType}"
					class="form-control" placeholder="Fishing">
				</div>
			</div>
			
			<!-- <textarea class="form-control mb-4 col-6" th:field="*{description}" placeholder="Description" style="height: 300px;"></textarea> -->
			
			<div class="form-group row">
				<div class="col-md-4">
					<label for="licenseExpiry" class="label-input  control-label">Date of Expiry<span class="required"></span></label>
					<input type="date" id="licenseExpiry" th:field="*{licenseExpiry}"
				class="form-control" placeholder="License Expiry Date" >
				</div>	
				<div class="col-md-8">
					<label for="owner" class="label-input  control-label">Owner<span class="required">*</span></label>
					<select class="form-control" required="required"  name="owner" id="owner">
				  		<option value="none" th:selected="${update != false} ">None</option>
				      	<option th:each="currentOwner : ${owners}" th:value="${currentOwner.id}" th:text="${currentOwner.lastName + ', ' + currentOwner.firstName}" 
				      			th:selected="${currentOwner.id == vessel.violator?.id}" >
				      	</option>
			    	</select>
				</div>
			</div>
				
			 <div class="form-group">
			 	<div class="row-4 mb-4">
					<!-- <input type="file" name="files" multiple >			 -->
					<label for="files" class="label-input  control-label">Photos/Videos</label>
					<input id="files" type="file" name="files" class="filestyle" data-classButton="btn btn-primary" data-input="false" data-classIcon="icon-plus" data-buttonText="Add File" multiple>
				</div> 
			 </div>
			
			<div th:if="${update}">
				<h5 >Images</h5>
				<hr>
			</div>
			<div class="row" >
				<!-- <img th:src="@{/uploads/apple.jfif}" alt="no image" class="img-fluid" /> -->
				<div class="column" >
					<div th:id="${'div_medium' + medium.id}" class="img-wrap" th:each="medium : ${media}" >
						<span class="close">&times;</span>
						<img data-th-attr="data-id=${medium.id}" th:src="@{/vessel/image/{id}(id=${medium.id})}" width="200" height="200">
      				</div>
    			</div>
			</div>

			<br>
			
			
			<div class="col-md-8 media-inputs mb-2">
			</div>
			
			<div class="col-md-12" style="text-align:center">
					<button type="submit" class="btn btn-success col-6" th:if="${update}">Save Changes</button>
					<button type="submit" class="btn btn-success col-6" th:unless="${update}">Submit</button>
			</div>
	
		</form>
	
		<hr>
		
		<script type="text/javascript" th:src="@{/js/image.js}" ></script>
	</div>

</body>
</html>