<!DOCTYPE HTML>
<html lang="en" xmlns:th="http://www.thymeleaf.org">

<head>
    <!-- Required meta tags -->
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">

    	<!-- CSS only -->
	<link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/css/bootstrap.min.css" integrity="sha384-JcKb8q3iqJ61gNV9KGb8thSsNjpSL0n8PARn9HuZOnIxN0hoP+VmmDGMN5t9UJ0Z" crossorigin="anonymous">
	
	<!-- JS, Popper.js, and jQuery -->
	<script
	  src="https://code.jquery.com/jquery-3.5.1.js"
	  integrity="sha256-QWo7LDvxbWT2tbbQ97B53yJnYU3WhH/C8ycbRAkjPDc="
	  crossorigin="anonymous"></script>
	<script src="https://cdn.jsdelivr.net/npm/popper.js@1.16.1/dist/umd/popper.min.js" integrity="sha384-9/reFTGAW83EW2RDu2S0VKaIzap3H66lZH81PoYlFhbGU+6BZp6G7niu735Sk7lN" crossorigin="anonymous"></script>
	<script src="https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/js/bootstrap.min.js" integrity="sha384-B4gt1jrGC7Jh4AgTPSdUtOBvfO8shuf57BaghqFfPlYxofvL8/KUEfYiJOMMV+rV" crossorigin="anonymous"></script>
    
	<link href="https://use.fontawesome.com/releases/v5.0.4/css/all.css" rel="stylesheet">
    
    <link th:href="@{/css/image.css}" rel="stylesheet" />
    
    <link rel="stylesheet" href="//code.jquery.com/ui/1.12.1/themes/base/jquery-ui.css">
	<script src="https://code.jquery.com/ui/1.12.1/jquery-ui.js"></script>
	<script type="text/javascript" th:src="@{/js/bootstrap-filestyle.min.js}" ></script>
	
	<script type="text/javascript" src="https://maps.googleapis.com/maps/api/js?key=AIzaSyA0joOztOvXtS7zlJo-Cmkq_R0yGyFDCqQ&libraries=places"></script>
	
	<title>Add Violation</title>
</head>
<body onload="initializeLocation()">

	<div class="container">

		<h3 th:if="${update}">Edit Violation</h3>
		<h3 th:unless="${update}">Add Violation</h3>
		<hr>
	
		<p class="h4 mb-4" th:if="${update}">Edit Violation</p>
		<p class="h4 mb-4" th:unless="${update}">Add Violation</p>
		
		<form action="#" th:action="@{/submit-violation}" th:object="${violation}"
			method="POST" enctype="multipart/form-data">
		
			<input type="hidden" name="violation_id" th:field="*{id}" /> 
			
			<div class="form-group">
				<label for="title" class="label-input  control-label">Title <span class="required">*</span></label>
				<input id="title" type="text" th:field="*{title}" class="form-control mb-4 col-8" placeholder="New Violation" required>
			</div>
			
			<div class="form-group">
				<label for="description" class="label-input control-label">Description <span class="required">*</span></label>
				<textarea id="description" class="form-control mb-4 col-8" th:field="*{description}" placeholder="Enter the full story..." style="height: 300px;"></textarea>
			</div>
			
			<div class="form-group">
				<label for="dateOfViolation" class="label-input control-label">Date of Violation <span class="required">*</span></label>
				<input id="dateOfViolation" type="date" th:field="*{dateOfViolation}" class="form-control mb-4 col-4" placeholder="Date of Violation" > 
			</div>
			
			<div class="form-group">
				<label for="location" class="label-input control-label">Location of Violation<span class="required">*</span></label>
				<input id="addViolationlocation" type="text" th:field="*{location}" class="form-control mb-4 col-8" placeholder="Type your location" onFocus="geolocate()"> 
			</div>
				
			<style>
			  .ui-autocomplete-loading {
			    background: white url("images/ui-anim_basic_16x16.gif") right center no-repeat;
			  }
		  </style>
		  
			<script type="text/javascript">
				var listOfIds = [];
				var violatorId = '';
				var vesselId = '';
				$(function() {
					$("#violatorsAC").autocomplete({
						source: "/violatorsAutoComplete", 
						minLength: 1,
						select: function(event, ui) {
							this.value = ui.item.value;
							violatorId = ui.item.id;
							///alert(listOfIds);
							//alert(ui.item.id);
							//$("#Plant_ID").val(ui.item.value);
							return false;
						}
					});
		
				});
				
				$(function() {
					$("#vesselsAC").autocomplete({
						source: "/vesselsAutoComplete", 
						minLength: 1,
						select: function(event, ui) {
							this.value = ui.item.value;
							vesselId = ui.item.id;
							return false;
						}
					});
		
				});
			</script>
			
			
			<div class="row mb-2">
				<div class="col-md-8">
					<label for="violatorsAC" class="label-input control-label">Violators<span class="required">*</span></label>
					<input id="violatorsAC" type="text" class="form-control" aria-label="Sizing example input" aria-describedby="inputGroup-sizing-sm" name="violatorsAC" 
					placeholder="Violators" value="">
				</div>
				<div class="col-md-4">
					<br>
					<button type="button" class="btn btn-primary btn-add-violator">Add</button>
				</div>	
			</div>
			
			<div class="col-md-12" style="margin-bottom: 2em;">
				<table width="50%" onclick="removeElement()">
		            <thead>
		                <tr>
		                </tr>
		            </thead>
		            <tbody class="violator-tbody-names">
		            	<tr th:each="violator: ${violation.violators}">
						    <td  th:text="${violator.lastName + ', ' + violator.firstName}" />
						    <td><i class="fas fa-minus"></i></td>
						</tr>
		            </tbody>
	        	</table>
			</div>
			
			<div class="row mb-2">
				<div class="col-md-8">
					<label for="vesselsAC" class="label-input control-label">Vessels<span class="required">*</span></label>
					<input id="vesselsAC" type="text" class="form-control" aria-label="Sizing example input" aria-describedby="inputGroup-sizing-sm" name="vesselsAC" 
					placeholder="Vessels" value="">
				</div>
				<div class="col-md-4">
				<br>
					<button type="button" class="btn btn-primary btn-add-vessel">Add</button>
				</div>	
			</div>
			
			<div class="col-md-12" style="margin-bottom: 2em;">
				<table width="50%">
		            <thead>
		            </thead>
		            <tbody class="vessel-tbody-names" >
		            	<tr th:each="vessel: ${violation.vessels}" th:onclick="trclick()">
						    <td th:text="${vessel.vesselName}" />
						    <td th:onclick="tdclick(this);"><i class="fas fa-minus" ></i></td>
						</tr>
		            </tbody>
	        	</table>
			</div>
			
			 <div class="form-group">
			 	<div class="row-4 mb-4">
					<!-- <input type="file" name="files" multiple >			 -->
					<label for="files" class="label-input  control-label">Images/Videos <span class="required">*</span></label>
					<input id="files" type="file" name="files" class="filestyle" data-classButton="btn btn-primary" data-input="false" data-classIcon="icon-plus" data-buttonText="Add File" multiple>
				</div> 
			 </div>
			
			<div th:if="${update}">
				<h5 >Images/Videos</h5>
				<hr>
			</div>
			<div class="row" >
				<!-- <img th:src="@{/uploads/apple.jfif}" alt="no image" class="img-fluid" /> -->
				<div class="column" >
					<div th:id="${'div_medium' + medium.id}" class="img-wrap" th:each="medium : ${media}" >
						<span class="close">&times;</span>
						<img data-th-attr="data-id=${medium.id}" th:src="@{/violation/image/{id}(id=${medium.id})}" width="200" height="200">
      				</div>
    			</div>
			</div>

			<br>
			
			<div class="col-md-8 violator-inputs mb-2">
				<div th:each="violator: ${violation.violators}">
					<input type="hidden" class="form-control" name="violator_id[]" id="violator_id" th:value="${violator.id}">
				</div>
			</div>
			
			<div class="col-md-8 vessel-inputs mb-2">
				<div th:each="vessel: ${violation.vessels}">
					<input type="hidden" class="form-control" name="vessel_id[]" id="vessel_id" th:value="${vessel.id}">
				</div>
			</div>
			
			<div class="col-md-8 media-inputs mb-2">
			</div>
			
			<div class="col-md-12" style="text-align:center">
					<button type="submit" class="btn btn-success col-6" th:if="${update}">Save Changes</button>
					<button type="submit" class="btn btn-success col-6" th:unless="${update}">Submit</button>
			</div>
	
		</form>
	
		<hr>
		
		<script>
			$( ".btn-add-violator" ).click(function() {
				var violatorName = $("#violatorsAC").val();
				if(violatorName) {
					
					var name = '<tr><td>' + violatorName + '</td><td><i class="fas fa-minus"></i></td></tr>';
					$(".violator-tbody-names").append(name);
					$('.violator-inputs').append('<div><input type="hidden" class="form-control" name="violator_id[]" id="violator_id" value="' + violatorId +'"></div>');
					
					// cleanup
					$("#violatorsAC").val('');
					violatorId = '';
				}
			});
			
			$( ".btn-add-vessel" ).click(function() {
				var vesselName = $("#vesselsAC").val();
				if(vesselName) {
					
					var name = '<tr><td>' + vesselName + '</td><td><i class="fas fa-minus"></i></td></tr>';
					$(".vessel-tbody-names").append(name);
					$('.vessel-inputs').append('<div><input type="hidden" class="form-control" name="vessel_id[]" id="vessel_id" value="' + vesselId +'"></div>');
					
					// cleanup
					$("#vesselssAC").val('');
					vesselId = '';
				}
			});

		</script>
		<script type="text/javascript" th:src="@{/js/image.js}" ></script>
	</div>

</body>
<script>
var autocomplete;
const componentForm = {
		  location:"long_name"
};
		
function initializeLocation() {
	  
	  autocomplete = new google.maps.places.Autocomplete((document.getElementById('addViolationlocation')));
	  
	  autocomplete.setComponentRestrictions({
		  country: ["ph"]
	  });
	  google.maps.event.addListener(autocomplete, 'place_changed', function() {
      });
	 
	}

// Function of geolocate from Google Places API documentation
function geolocate() {
	  if (navigator.geolocation) {
	    navigator.geolocation.getCurrentPosition(position => {
	      const geolocation = {
	        lat: position.coords.latitude,
	        lng: position.coords.longitude
	      };
	      console.log("Geolocation Lat: " + position.coords.latitude);
	      console.log("Geolocation Long: " + position.coords.longitude);
	      const circle = new google.maps.Circle({
	        center: geolocation,
	        radius: position.coords.accuracy
	      });
	      autocomplete.setBounds(circle.getBounds());
	    });
	  }
	}

</script>
</html>