<meta charset="utf-8">
<meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">

<!-- Bootstrap CSS -->
<link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/css/bootstrap.min.css" integrity="sha384-JcKb8q3iqJ61gNV9KGb8thSsNjpSL0n8PARn9HuZOnIxN0hoP+VmmDGMN5t9UJ0Z" crossorigin="anonymous">
<!-- Start of Bootstrap Code -->

<nav class="navbar navbar-expand-lg navbar-dark bg-dark static-top">
    <div class="container-fluid">
        &nbsp;&nbsp;&nbsp;&nbsp;
        <div class="collapse navbar-collapse" id="navbarResponsive">
            <ul class="navbar-nav ml-auto">

            </ul>
        </div>
    </div>
</nav>

<body>
<div class="py-5 bg-image-full" style="background-color: #FFFFFF; height:100%">
<section class="py-2" >
  <div class="container">
    <div class="row">
      <div class="col-sm-9 col-md-7 col-lg-5 mx-auto">
        <div class="card card-signin my-5">
          <div class="card-body">
            <h5 class="card-title text-center">Log In</h5>
              <div th:if="${param.error}" class="alert alert-error warning">
                  <span style="color:red;">Invalid username and password.</span>
              </div>
              <div th:if="${param.logout}" class="alert alert-success">
                  You have been logged out.
              </div>
            <form class="form-signin" action="/login" method="POST">
              <div class="form-label-group">
                  <label for="username">Username:</label>
                  <input type="username" id="username" name="username" class="form-control" required autofocus>

              </div>
<br/>
              <div class="form-label-group">
                  <label for="password">Password:</label>
                  <input type="password" id="password" name="password" class="form-control" required>

              </div>
         <br/>
              <button class="btn btn-lg btn-dark btn-block text-uppercase" type="submit">Login</button>
              <hr class="my-4">
            </form>
          </div>
        </div>
      </div>
    </div>
  </div>
   </section>

  </div>

</body>
