<!DOCTYPE html>
<html xmlns:th="http://wwww.thymeleaf.org">
<head>
<meta charset="ISO-8859-1"/>
<title>Reports Dashboard</title>
<link href="https://stackpath.bootstrapcdn.com/bootstrap/4.1.3/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-MCw98/SFnGE8fJT3GXwEOngsV7Zt27NXFoaoApmYm81iuXoPkFOJwJ8ERdknLPMO" crossorigin="anonymous">
<script src="https://stackpath.bootstrapcdn.com/bootstrap/4.1.3/js/bootstrap.min.js"></script>
</head>
<body>

<br/>
<h2>Reports</h2>
<ul class="list-group" th:each="report : ${reports}">
		<li class="list-group-item">
			<a th:href="@{/report/{id}(id=${report.id})}"  th:text="${report.description}" ></a>
		</li>
</ul>


</body>
</html>