<!DOCTYPE html>
<html xmlns:th="http://wwww.thymeleaf.org">
<head>

<meta charset="utf-8">
<meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
<header th:insert="fragments/libs.html :: header"> </header>
 <link th:href="@{/css/cards.css}" rel="stylesheet" />

<title>Vessels Dashboard</title>

</head>
<body>

<br/>
<div th:replace="fragments/nav.html :: nav-fragment"></div>    
<div class="container">
	<div class="row mb-4">
		<div class="col-md-2">
			<a th:href="@{/add-vessel}"  class="btn btn-add">Add New Vessel</a>
		</div>
		
		<div class="col-md-10">
			<form th:action="@{/search-vessel}" method="GET">
			    <div class="row">
			    	<div class="col-md-7">
				    	<input type="text" class="form-control" name="keyword" id="keyword" size="50" th:value="${keyword}" placeholder="Search" />
			    	</div>
			    	<div class="col-md-1">
			    		<button type="submit" class="btn btn-secondary"><i class="fas fa-search"></i></button>
			    	</div>
			    </div>
			</form>
		</div>
	</div>
	
	<div class="card mb-4"  th:each="vessel : ${vessels}">
		<div class="card-header" th:text="${'Vessel License ID #' + vessel.licenseId}"></div>
		  <div class="card-body">
			    <h4 class="card-title" th:text="${vessel.vesselName}">Card title</h4>
			    <h6 class="card-subtitle mb-2 text-muted" th:text="${'License Expiry: ' + vessel.licenseExpiry}"></h6>
			    <p class="card-text" th:text="${vessel.licenseType}"></p>
			    <a th:href="@{/vessel/{id}(id=${vessel.id})}"  class="btn btn-primary btn-details stretched-link"   >Details</a>
		  </div>
	</div>
</div>


<footer th:replace="fragments/footer.html :: footer"></footer>
<script type="text/javascript" th:src="@{/js/notif.js}" ></script>
</body>
</html>